In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option('display.max_colwidth', None)

pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/state_IL (1).csv", low_memory=False)

In [ ]:
df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2018,KB1H1DSPRFMYMCUFXT09,16974,IL,17093.0,1.709389e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,3,0,2,1,4,2,2,1,2,25000.0,55.58,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,361,36,NaN,2,2,2,2,185000,1,3,3,5,1,NaN,35.0,>60%,1,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,25-34,25-34,No,No,1,1,5,NaN,NaN,NaN,NaN,3,9.0,1.0,2.0,20325,38.35,82400,153,5125,5894,11
1,2018,KB1H1DSPRFMYMCUFXT09,29404,IL,17097.0,1.709786e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,3,0,2,1,1,2,2,1,2,95000.0,77.34,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,361,36,NaN,2,2,2,2,415000,1,1,3,5,1,NaN,199.0,50%-60%,1,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,45-54,9999,No,NaN,1,1,5,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,4239,6.20,96500,216,1334,1496,53
2,2018,KB1H1DSPRFMYMCUFXT09,37900,IL,17143.0,1.714300e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Joint,4,0,2,1,2,2,2,1,2,55000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,361,36,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,965.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,21.0,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,35-44,35-44,No,No,1,1,5,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6566,24.06,76200,153,1864,2091,21
3,2018,KB1H1DSPRFMYMCUFXT09,16974,IL,17031.0,1.703129e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,3,0,2,1,2,2,2,1,2,25000.0,76.59,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,361,36,NaN,2,2,2,2,275000,1,1,3,5,1,NaN,130.0,50%-60%,1,10,1.0,11.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,35-44,9999,No,NaN,1,1,5,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,2989,98.33,82400,35,268,1100,76
4,2018,KB1H1DSPRFMYMCUFXT09,16974,IL,17197.0,1.719788e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Joint,White,Joint,3,0,2,1,2,2,2,1,2,105000.0,57.7,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,361,36,NaN,2,2,2,2,655000,1,1,3,5,1,NaN,134.0,39,1,9,2.0,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,45-54,45-54,No,No,1,1,5,NaN,NaN,NaN,NaN,3,4.0,1.0,NaN,6250,15.84,82400,143,1828,1866,19

In [ ]:
df.shape

(502445, 99)

In [ ]:
nan_counts = df.isna().sum()
print(nan_counts)

activity_year                                    0
lei                                              0
derived_msa-md                                   0
state_code                                       0
county_code                                   3140
census_tract                                  3718
conforming_loan_limit                         3940
derived_loan_product_type                        0
derived_dwelling_category                        0
derived_ethnicity                                0
derived_race                                     0
derived_sex                                      0
action_taken                                     0
purchaser_type                                   0
preapproval                                      0
loan_type                                        0
loan_purpose                                     0
lien_status                                      0
reverse_mortgage                                 0
open-end_line_of_credit                          0
business_or_commercial_purpose                   0
loan_amount                                      0
loan_to_value_ratio                         164873
interest_rate                               156047
rate_spread                                 249989
hoepa_status                                     0
total_loan_costs                            229350
total_points_and_fees                       480170
origination_charges                         224750
discount_points                             416384
lender_credits                              367455
loan_term                                     5092
prepayment_penalty_term                     460775
intro_rate_period                           394079
negative_amortization                            0
interest_only_payment                            0
balloon_payment                                  0
other_nonamortizing_features                     0
property_value                               83339
construction_method                              0
occupancy_type                                   0
manufactured_home_secured_property_type          0
manufactured_home_land_property_interest         0
total_units                                      0
multifamily_affordable_units                479116
income                                       61331
debt_to_income_ratio                        166549
applicant_credit_score_type                      0
co-applicant_credit_score_type                   0
applicant_ethnicity-1                           69
applicant_ethnicity-2                       478630
applicant_ethnicity-3                       501984
applicant_ethnicity-4                       502431
applicant_ethnicity-5                       502443
co-applicant_ethnicity-1                        20
co-applicant_ethnicity-2                    494759
co-applicant_ethnicity-3                    502325
co-applicant_ethnicity-4                    502443
co-applicant_ethnicity-5                    502445
applicant_ethnicity_observed                     0
co-applicant_ethnicity_observed                  0
applicant_race-1                                34
applicant_race-2                            486589
applicant_race-3                            501345
applicant_race-4                            502372
applicant_race-5                            502418
co-applicant_race-1                             12
co-applicant_race-2                         495859
co-applicant_race-3                         502040
co-applicant_race-4                         502422
co-applicant_race-5                         502439
applicant_race_observed                          0
co-applicant_race_observed                       0
applicant_sex                                    0
co-applicant_sex                                 0
applicant_sex_observed                           0
co-applicant_sex_observed                        0
applicant_age                                    0
co-applicant_age                                 0
applicant_age_above_62                       57833
co-applicant_age_above_62                   317075
submission_of_application                        0
initially_payable_to_institution                 0
aus-1                                            0
aus-2                                       477961
aus-3                                       494876
aus-4                                       500114
aus-5                                       500633
denial_reason-1                                  0
denial_reason-2                             484688
denial_reason-3                             499648
denial_reason-4                             502210
tract_population                                 0
tract_minority_population_percent                0
ffiec_msa_md_median_family_income                0
tract_to_msa_income_percentage                   0
tract_owner_occupied_units                       0
tract_one_to_four_family_homes                   0
tract_median_age_of_housing_units                0
dtype: int64

In [ ]:
columns_to_keep = [
    # Target
    'action_taken',

    # Protected attributes
    'derived_race', 'derived_sex', 'derived_ethnicity',
    'applicant_age_above_62', 'applicant_age',

    # Applicant financials
    'income', 'debt_to_income_ratio', 'applicant_credit_score_type',
    'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
    'loan_term', 'intro_rate_period', 'occupancy_type', 'preapproval',
    'open-end_line_of_credit', 'business_or_commercial_purpose',

    # Loan details
    'loan_type', 'loan_purpose', 'derived_loan_product_type',
    'derived_dwelling_category', 'lien_status', 'reverse_mortgage',
    'hoepa_status', 'total_loan_costs', 'origination_charges',
    'discount_points', 'lender_credits', 'prepayment_penalty_term',
    'interest_only_payment', 'balloon_payment',

    # Property info
    'property_value', 'construction_method',
    'manufactured_home_secured_property_type',
    'manufactured_home_land_property_interest', 'total_units',

    #tract
    'tract_to_msa_income_percentage' ,'tract_owner_occupied_units', 'tract_one_to_four_family_homes',

]

In [ ]:
df = df[columns_to_keep].copy()

In [ ]:
df.head()

,action_taken,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,applicant_age,income,debt_to_income_ratio,applicant_credit_score_type,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,loan_term,intro_rate_period,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,total_loan_costs,origination_charges,discount_points,lender_credits,prepayment_penalty_term,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes
0,3,White,Joint,Not Hispanic or Latino,No,25-34,35.0,>60%,1,25000.0,55.58,NaN,NaN,361,NaN,3,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,NaN,NaN,NaN,NaN,36,2,2,185000,1,3,5,1,153,5125,5894
1,3,White,Male,Not Hispanic or Latino,No,45-54,199.0,50%-60%,1,95000.0,77.34,NaN,NaN,361,NaN,1,2,1,2,1,1,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,NaN,NaN,NaN,NaN,36,2,2,415000,1,3,5,1,216,1334,1496
2,4,Asian,Joint,Not Hispanic or Latino,No,35-44,965.0,NaN,9,55000.0,NaN,NaN,NaN,361,NaN,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,NaN,NaN,NaN,NaN,36,2,2,NaN,1,3,5,1,153,1864,2091
3,3,White,Male,Hispanic or Latino,No,35-44,130.0,50%-60%,1,25000.0,76.59,NaN,NaN,361,NaN,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,NaN,NaN,NaN,NaN,36,2,2,275000,1,3,5,1,35,268,1100
4,3,White,Joint,Joint,No,45-54,134.0,39,1,105000.0,57.7,NaN,NaN,361,NaN,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,NaN,NaN,NaN,NaN,36,2,2,655000,1,3,5,1,143,1828,1866

In [ ]:
df = df[df["action_taken"].isin([1, 3])].copy()
df["loan_approved"] = (df["action_taken"] == 1).astype(int)
df.drop(columns=["action_taken"], inplace=True)

In [ ]:
df.shape

(343385, 41)

In [ ]:
nan_counts = df.isna().sum()
print(nan_counts)

derived_race                                     0
derived_sex                                      0
derived_ethnicity                                0
applicant_age_above_62                        8114
applicant_age                                    0
income                                       15032
debt_to_income_ratio                         18518
applicant_credit_score_type                      0
loan_amount                                      0
loan_to_value_ratio                          16779
interest_rate                                83722
rate_spread                                 100609
loan_term                                     3192
intro_rate_period                           257267
occupancy_type                                   0
preapproval                                      0
open-end_line_of_credit                          0
business_or_commercial_purpose                   0
loan_type                                        0
loan_purpose                                     0
derived_loan_product_type                        0
derived_dwelling_category                        0
lien_status                                      0
reverse_mortgage                                 0
hoepa_status                                     0
total_loan_costs                            131216
origination_charges                         130756
discount_points                             273189
lender_credits                              237648
prepayment_penalty_term                     307069
interest_only_payment                            0
balloon_payment                                  0
property_value                                9536
construction_method                              0
manufactured_home_secured_property_type          0
manufactured_home_land_property_interest         0
total_units                                      0
tract_to_msa_income_percentage                   0
tract_owner_occupied_units                       0
tract_one_to_four_family_homes                   0
loan_approved                                    0
dtype: int64

In [ ]:

# --- 2. Handle missing or invalid values ---
df.replace("Exempt", np.nan, inplace=True)
df.replace("NA", np.nan, inplace=True)
df.replace("", np.nan, inplace=True)

In [ ]:
nan_counts = df.isna().sum()
print(nan_counts)

derived_race                                     0
derived_sex                                      0
derived_ethnicity                                0
applicant_age_above_62                        8114
applicant_age                                    0
income                                       15032
debt_to_income_ratio                         36968
applicant_credit_score_type                      0
loan_amount                                      0
loan_to_value_ratio                          35231
interest_rate                               102175
rate_spread                                 119399
loan_term                                    21644
intro_rate_period                           275715
occupancy_type                                   0
preapproval                                      0
open-end_line_of_credit                          0
business_or_commercial_purpose                   0
loan_type                                        0
loan_purpose                                     0
derived_loan_product_type                        0
derived_dwelling_category                        0
lien_status                                      0
reverse_mortgage                                 0
hoepa_status                                     0
total_loan_costs                            149669
origination_charges                         149209
discount_points                             291639
lender_credits                              256098
prepayment_penalty_term                     325522
interest_only_payment                            0
balloon_payment                                  0
property_value                               27924
construction_method                              0
manufactured_home_secured_property_type          0
manufactured_home_land_property_interest         0
total_units                                      0
tract_to_msa_income_percentage                   0
tract_owner_occupied_units                       0
tract_one_to_four_family_homes                   0
loan_approved                                    0
dtype: int64

In [ ]:
null_cols = df.columns[df.isnull().mean() > 0.25].tolist()
print(null_cols)

['interest_rate', 'rate_spread', 'intro_rate_period', 'total_loan_costs', 'origination_charges', 'discount_points', 'lender_credits', 'prepayment_penalty_term']

In [ ]:
df = df.drop(columns=null_cols)

In [ ]:
nan_counts = df.isna().sum()
print(nan_counts)

derived_race                                    0
derived_sex                                     0
derived_ethnicity                               0
applicant_age_above_62                       8114
applicant_age                                   0
income                                      15032
debt_to_income_ratio                        36968
applicant_credit_score_type                     0
loan_amount                                     0
loan_to_value_ratio                         35231
loan_term                                   21644
occupancy_type                                  0
preapproval                                     0
open-end_line_of_credit                         0
business_or_commercial_purpose                  0
loan_type                                       0
loan_purpose                                    0
derived_loan_product_type                       0
derived_dwelling_category                       0
lien_status                                     0
reverse_mortgage                                0
hoepa_status                                    0
interest_only_payment                           0
balloon_payment                                 0
property_value                              27924
construction_method                             0
manufactured_home_secured_property_type         0
manufactured_home_land_property_interest        0
total_units                                     0
tract_to_msa_income_percentage                  0
tract_owner_occupied_units                      0
tract_one_to_four_family_homes                  0
loan_approved                                   0
dtype: int64

In [ ]:
data=df.copy()

In [ ]:
df.shape

(343385, 33)

In [ ]:
data.dropna(inplace=True)
data.shape

(292756, 33)

In [ ]:
nan_counts = data.isna().sum()
print(nan_counts)

derived_race                                0
derived_sex                                 0
derived_ethnicity                           0
applicant_age_above_62                      0
applicant_age                               0
income                                      0
debt_to_income_ratio                        0
applicant_credit_score_type                 0
loan_amount                                 0
loan_to_value_ratio                         0
loan_term                                   0
occupancy_type                              0
preapproval                                 0
open-end_line_of_credit                     0
business_or_commercial_purpose              0
loan_type                                   0
loan_purpose                                0
derived_loan_product_type                   0
derived_dwelling_category                   0
lien_status                                 0
reverse_mortgage                            0
hoepa_status                                0
interest_only_payment                       0
balloon_payment                             0
property_value                              0
construction_method                         0
manufactured_home_secured_property_type     0
manufactured_home_land_property_interest    0
total_units                                 0
tract_to_msa_income_percentage              0
tract_owner_occupied_units                  0
tract_one_to_four_family_homes              0
loan_approved                               0
dtype: int64

In [ ]:
data.head()

,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,applicant_age,income,debt_to_income_ratio,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved
0,White,Joint,Not Hispanic or Latino,No,25-34,35.0,>60%,1,25000.0,55.58,361,3,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,185000,1,3,5,1,153,5125,5894,0
1,White,Male,Not Hispanic or Latino,No,45-54,199.0,50%-60%,1,95000.0,77.34,361,1,2,1,2,1,1,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,415000,1,3,5,1,216,1334,1496,0
3,White,Male,Hispanic or Latino,No,35-44,130.0,50%-60%,1,25000.0,76.59,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,275000,1,3,5,1,35,268,1100,0
4,White,Joint,Joint,No,45-54,134.0,39,1,105000.0,57.7,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,655000,1,3,5,1,143,1828,1866,0
5,Race Not Available,Sex Not Available,Ethnicity Not Available,No,25-34,201.0,20%-<30%,1,45000.0,82.96,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,485000,1,3,5,2,67,552,1456,0

In [ ]:
data['derived_race'].value_counts()

derived_race
White                                        217189
Race Not Available                            29338
Black or African American                     22520
Asian                                         17405
Joint                                          4267
American Indian or Alaska Native               1010
Native Hawaiian or Other Pacific Islander       672
2 or more minority races                        332
Free Form Text Only                              23
Name: count, dtype: int64

In [ ]:
data['derived_sex'].value_counts()

derived_sex
Joint                107953
Male                 101811
Female                67189
Sex Not Available     15803
Name: count, dtype: int64

In [ ]:
data['derived_ethnicity'].value_counts()

derived_ethnicity
Not Hispanic or Latino     224962
Hispanic or Latino          34363
Ethnicity Not Available     28051
Joint                        5337
Free Form Text Only            43
Name: count, dtype: int64

In [ ]:
data['debt_to_income_ratio'].value_counts()

debt_to_income_ratio
20%-<30%    51793
30%-<36%    47513
50%-60%     23288
<20%        18335
>60%        16775
42          12002
44          11172
49          10607
41          10549
40          10209
43          10111
39           9986
38           9602
37           9279
36           8903
45           8548
48           8153
47           8021
46           7910
Name: count, dtype: int64

In [ ]:
age_map = {
    "35-44": 0,
    "45-54": 1,
    "25-34": 2,
    "55-64": 3,
    "65-74": 4,
    ">74": 5,
    "<25": 6
}

data["age_cat"] = data["applicant_age"].map(age_map)
data.drop(columns=["applicant_age"], inplace=True)

In [ ]:
#categorical
ndex(['derived_race', 'derived_sex', 'derived_ethnicity',
       'applicant_age_above_62', 'debt_to_income_ratio', '',
       '', 'derived_loan_product_type', 'derived_dwelling_category',
       '', 'total_units'],
      dtype='object')
age_cat

In [ ]:
##numerical
Index(['', 'applicant_credit_score_type', '',
       'occupancy_type', 'preapproval', 'open-end_line_of_credit',
       'business_or_commercial_purpose', 'loan_type', 'loan_purpose',
       'lien_status', 'reverse_mortgage', 'hoepa_status',
       'interest_only_payment', 'balloon_payment', 'construction_method',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest',
       '', 'loan_approved', '',
       'dti_clean'],
      dtype='object')
loan to value ratio,loan_term,property_value,debt_to_income_ratio

In [ ]:
derived_race	derived_sex	derived_ethnicity	applicant_age_above_62 applicant_credit_score_type occupancy_type occupancy_type preapproval open-end_line_of_credit	business_or_commercial_purpose	loan_type	loan_purpose	derived_loan_product_type derived_dwelling_category	lien_status	reverse_mortgage	hoepa_status	interest_only_payment	balloon_payment	 construction_method	manufactured_home_secured_property_type	manufactured_home_land_property_interest	total_units

In [ ]:
income

In [ ]:
data.head(25)

,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean
0,White,Joint,Not Hispanic or Latino,No,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,185000,1,3,5,1,153,5125,5894,0,2,65
1,White,Male,Not Hispanic or Latino,No,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,415000,1,3,5,1,216,1334,1496,0,1,55
3,White,Male,Hispanic or Latino,No,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,275000,1,3,5,1,35,268,1100,0,0,55
7,Black or African American,Male,Not Hispanic or Latino,Yes,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,Conventional:First Lien,Single Family (1-4 Units):Site-Built,1,2,3,2,2,135000,1,3,5,1,56,1255,2213,0,4,55
8,White,Male,Not Hispanic or Latino,No,91.0,1,125000.0,46.5,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,2,2,2,315000,1,3,5,1,111,937,840,1,3,44
9,White,Male,Not Hispanic or Latino,No,140.0,1,45000.0,9.2,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,435000,1,3,5,1,174,2385,2526,0,1,47
10,White,Male,Not Hispanic or Latino,No,400.0,1,205000.0,95.4,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,1285000,1,3,5,1,284,888,1083,0,0,44
12,White,Joint,Not Hispanic or Latino,No,21.0,9,175000.0,79.95,361,1,2,1,2,1,31,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,655000,1,3,5,1,194,2658,2871,0,1,65
13,White,Male,Hispanic or Latino,No,153.0,1,45000.0,81.57,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,265000,1,3,5,1,145,2389,2818,0,0,25
14,White,Joint,Not Hispanic or Latino,No,127.0,9,25000.0,78.19,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,195000,1,3,5,1,101,1463,1732,0,2,55
18,White,Male,Not Hispanic or Latino,No,2300.0,1,115000.0,80.11,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,805000,1,3,5,1,156,805,1460,0,0,10
20,White,Male,Not Hispanic or Latino,No,109.0,1,35000.0,76.54,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,2,2,2,385000,1,3,5,1,185,2032,2099,1,1,37
22,White,Male,Not Hispanic or Latino,No,112.0,1,65000.0,72.5,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,355000,1,3,5,1,95,889,1870,0,3,37
23,White,Joint,Not Hispanic or Latino,No,178.0,9,175000.0,72.36,361,1,2,1,2,1,32,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,2,2,2,325000,1,3,5,1,130,2115,2706,1,1,33
26,Black or African American,Male,Not Hispanic or Latino,No,96.0,1,85000.0,8.42,361,3,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,955000,1,3,5,4,173,599,1114,0,0,65
28,White,Female,Not Hispanic or Latino,No,228.0,1,115000.0,84.32,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,815000,1,3,5,1,79,458,1020,0,0,36
29,White,Male,Not Hispanic or Latino,No,350.0,1,105000.0,75.71,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,2,2,2,2585000,1,3,5,1,332,723,815,1,1,43
30,White,Joint,Not Hispanic or Latino,No,211.0,9,55000.0,48.81,361,1,2,1,2,1,32,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,325000,1,3,5,1,135,1258,1625,0,1,25
31,White,Female,Not Hispanic or Latino,Yes,58.0,1,25000.0,76.22,361,3,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,95000,1,3,5,1,153,1743,1689,0,3,47
32,White,Female,Not Hispanic or Latino,No,60.0,1,25000.0,88.81,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,255000,1,3,5,1,102,1546,1569,0,1,55
33,White,Male,Not Hispanic or Latino,No,70.0,1,25000.0,95.15,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,125000,1,3,5,1,95,768,1047,0,0,55
35,White,Male,Not Hispanic or Latino,Yes,227.0,1,105000.0,33.33,361,1,2,1,2,1,4,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,305000,1,3,5,1,73,1574,2653,0,5,25
39,White,Male,Not Hispanic or Latino,No,75.0,1,65000.0,78.57,361,1,2,1,2,1,1,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,215000,1,3,5,1,84,1196,1244,0,2,65
40,White,Joint,Hispanic or Latino,No,97.0,1,25000.0,79.66,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,2,2,2,265000,1,3,5,1,102,3832,4178,1,1,45
41,White,Female,Not Hispanic or Latino,No,58.0,1,35000.0,72.25,361,1,2,1,2,1,2,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,2,2,3,2,2,155000,1,3,5,1,63,1453,2014,0,2,48

In [ ]:
def clean_dti(value):
    if isinstance(value, str):
        value = value.strip()
        if value == "<20%":
            return 10
        elif value == "20%-<30%":
            return 25
        elif value == "30%-<36%":
            return 33
        elif value == "50%-60%":
            return 55
        elif value == ">60%":
            return 65
        elif value.isdigit():
            return int(value)
        else:
            try:
                return float(value)
            except:
                return None
    elif isinstance(value, (int, float)):
        return value
    return None

# Apply the function
data["dti_clean"] = data["debt_to_income_ratio"].apply(clean_dti)

In [ ]:
data.columns

Index(['derived_race', 'derived_sex', 'derived_ethnicity',
       'applicant_age_above_62', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio',
       'loan_term', 'occupancy_type', 'preapproval', 'open-end_line_of_credit',
       'business_or_commercial_purpose', 'loan_type', 'loan_purpose',
       'derived_loan_product_type', 'derived_dwelling_category', 'lien_status',
       'reverse_mortgage', 'hoepa_status', 'interest_only_payment',
       'balloon_payment', 'property_value', 'construction_method',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes', 'loan_approved', 'age_cat',
       'dti_clean'],
      dtype='object')

In [ ]:
# Filter for only White and Black in derived_race
data = data[data['derived_race'].isin(['White', 'Black or African American'])]

# Remove rows where sex is 'Sex Not Available'
data = data[data['derived_sex'] != 'Sex Not Available']

# Keep only Hispanic or Not Hispanic in derived_ethnicity
data = data[data['derived_ethnicity'].isin(['Hispanic or Latino', 'Not Hispanic or Latino'])]

In [ ]:
data.drop(columns='debt_to_income_ratio', inplace=True)

In [ ]:
unique_counts = data.nunique()
print(unique_counts)

derived_race                                    2
derived_sex                                     3
derived_ethnicity                               2
applicant_age_above_62                          2
income                                       1513
applicant_credit_score_type                     9
loan_amount                                   282
loan_to_value_ratio                         34732
loan_term                                     178
occupancy_type                                  3
preapproval                                     2
open-end_line_of_credit                         2
business_or_commercial_purpose                  3
loan_type                                       4
loan_purpose                                    6
derived_loan_product_type                       8
derived_dwelling_category                       4
lien_status                                     2
reverse_mortgage                                2
hoepa_status                                    3
interest_only_payment                           3
balloon_payment                                 3
property_value                                391
construction_method                             2
manufactured_home_secured_property_type         4
manufactured_home_land_property_interest        6
total_units                                     6
tract_to_msa_income_percentage                246
tract_owner_occupied_units                   1642
tract_one_to_four_family_homes               1764
loan_approved                                   2
age_cat                                         7
dti_clean                                      19
dtype: int64

In [ ]:
# Your list of columns to exclude
exclude_columns = [
    'derived_race',
    'derived_sex',
    'derived_ethnicity',
    'applicant_age_above_62',
    'applicant_credit_score_type',
    'occupancy_type',
    'preapproval',
    'open-end_line_of_credit',
    'business_or_commercial_purpose',
    'loan_type',
    'loan_purpose',
    'derived_loan_product_type',
    'derived_dwelling_category',
    'lien_status',
    'reverse_mortgage',
    'hoepa_status',
    'interest_only_payment',
    'balloon_payment',
    'construction_method',
    'manufactured_home_secured_property_type',
    'manufactured_home_land_property_interest',
    'total_units','loan_approved', 'age_cat'
]

# Get columns that are not in the exclude list
remaining_columns = [col for col in data.columns if col not in exclude_columns]

print(remaining_columns)

['income', 'loan_amount', 'loan_to_value_ratio', 'loan_term', 'property_value', 'tract_to_msa_income_percentage', 'tract_owner_occupied_units', 'tract_one_to_four_family_homes', 'dti_clean']

In [ ]:
cols_to_convert = [
    'income',
    'loan_amount',
    'loan_to_value_ratio',
    'loan_term',
    'property_value',
    'tract_to_msa_income_percentage',
    'tract_owner_occupied_units',
    'tract_one_to_four_family_homes',
    'dti_clean'
]

data[cols_to_convert] = data[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [ ]:
numerical_cols = data.select_dtypes(include=['number']).columns
print(numerical_cols)

Index(['income', 'applicant_credit_score_type', 'loan_amount',
       'loan_to_value_ratio', 'loan_term', 'occupancy_type', 'preapproval',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_type', 'loan_purpose', 'lien_status', 'reverse_mortgage',
       'hoepa_status', 'interest_only_payment', 'balloon_payment',
       'property_value', 'construction_method',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes', 'loan_approved', 'age_cat',
       'dti_clean'],
      dtype='object')

In [ ]:
categorical_cols = data.select_dtypes(include=['object', 'category']).columns
print(categorical_cols)

Index(['derived_race', 'derived_sex', 'derived_ethnicity',
       'applicant_age_above_62', 'derived_loan_product_type',
       'derived_dwelling_category', 'total_units'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_cols = ['derived_loan_product_type', 'derived_dwelling_category', 'total_units']

le = LabelEncoder()

for col in label_cols:
    data[col] = le.fit_transform(data[col].astype(str))

In [ ]:
numerical_cols = data.select_dtypes(include=['number']).columns
print(numerical_cols)

Index(['income', 'applicant_credit_score_type', 'loan_amount',
       'loan_to_value_ratio', 'loan_term', 'occupancy_type', 'preapproval',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_type', 'loan_purpose', 'derived_loan_product_type',
       'derived_dwelling_category', 'lien_status', 'reverse_mortgage',
       'hoepa_status', 'interest_only_payment', 'balloon_payment',
       'property_value', 'construction_method',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes', 'loan_approved', 'age_cat',
       'dti_clean'],
      dtype='object')

In [ ]:
categorical_cols = data.select_dtypes(include=['object', 'category']).columns
print(categorical_cols)

Index(['derived_race', 'derived_sex', 'derived_ethnicity',
       'applicant_age_above_62'],
      dtype='object')

In [ ]:
data.head()

,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean
0,White,Joint,Not Hispanic or Latino,No,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,1,3,2,2,3,2,2,185000,1,3,5,0,153,5125,5894,0,2,65
1,White,Male,Not Hispanic or Latino,No,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,0,1,55
3,White,Male,Hispanic or Latino,No,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,0,55
7,Black or African American,Male,Not Hispanic or Latino,Yes,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,0,4,55
8,White,Male,Not Hispanic or Latino,No,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,1,3,44

In [ ]:
data.to_csv('dataframe_data.csv', index=False)

In [ ]:
numerical_features = [
    'income',
    'loan_amount',
    'loan_to_value_ratio',
    'loan_term',
    'property_value',
    'tract_to_msa_income_percentage',
    'tract_owner_occupied_units',
    'tract_one_to_four_family_homes',
    'dti_clean'
]

for col in numerical_features:
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [ ]:
categorical_features = [
    'derived_race',
    'derived_sex',
    'derived_ethnicity',
    'applicant_age_above_62',
    'applicant_credit_score_type',
    'occupancy_type',
    'preapproval',
    'open-end_line_of_credit',
    'business_or_commercial_purpose',
    'loan_type',
    'loan_purpose',
    'derived_loan_product_type',
    'derived_dwelling_category',
    'lien_status',
    'reverse_mortgage',
    'hoepa_status',
    'interest_only_payment',
    'balloon_payment',
    'construction_method',
    'manufactured_home_secured_property_type',
    'manufactured_home_land_property_interest',
    'age_cat' ,'total_units'
]
# Convert the specified columns to categorical type
for col in categorical_features:
    data[col] = data[col].astype('category')

In [ ]:
numerical_cols = data.select_dtypes(include=['number']).columns
print(numerical_cols)

Index(['income', 'loan_amount', 'loan_to_value_ratio', 'loan_term',
       'property_value', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'loan_approved', 'dti_clean'],
      dtype='object')

In [ ]:
categorical_cols = data.select_dtypes(include=['object', 'category']).columns
print(categorical_cols)

Index(['derived_race', 'derived_sex', 'derived_ethnicity',
       'applicant_age_above_62', 'applicant_credit_score_type',
       'occupancy_type', 'preapproval', 'open-end_line_of_credit',
       'business_or_commercial_purpose', 'loan_type', 'loan_purpose',
       'derived_loan_product_type', 'derived_dwelling_category', 'lien_status',
       'reverse_mortgage', 'hoepa_status', 'interest_only_payment',
       'balloon_payment', 'construction_method',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units', 'age_cat'],
      dtype='object')

In [ ]:
data.head()

,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean
0,White,Joint,Not Hispanic or Latino,No,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,1,3,2,2,3,2,2,185000,1,3,5,0,153,5125,5894,0,2,65
1,White,Male,Not Hispanic or Latino,No,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,0,1,55
3,White,Male,Hispanic or Latino,No,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,0,55
7,Black or African American,Male,Not Hispanic or Latino,Yes,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,0,4,55
8,White,Male,Not Hispanic or Latino,No,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,1,3,44

In [ ]:
data.to_csv('final_data.csv', index=False)

In [ ]:
df=data.copy()

In [ ]:
protected = df[['derived_race', 'derived_sex', 'derived_ethnicity', 'applicant_age_above_62']]
df.drop(columns=protected.columns, inplace=True)

In [ ]:
df.head()

,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean
0,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,1,3,2,2,3,2,2,185000,1,3,5,0,153,5125,5894,0,2,65
1,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,0,1,55
3,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,0,55
7,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,0,4,55
8,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,1,3,44

In [ ]:
# Features
X = df.drop(columns=["loan_approved"])
# Target
y = df["loan_approved"]

In [ ]:
X.head()

,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,age_cat,dti_clean
0,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,1,3,2,2,3,2,2,185000,1,3,5,0,153,5125,5894,2,65
1,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,1,55
3,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,55
7,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,4,55
8,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,3,44

In [ ]:
y.head()

0    0
1    0
3    0
7    0
8    1
Name: loan_approved, dtype: int64

In [ ]:
# Convert all categorical columns to numerical codes
for col in X.columns:
    if pd.api.types.is_categorical_dtype(X[col]):
        X[col] = X[col].cat.codes

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.3, random_state=42
)

print("Final training set shape:", X_train.shape)
print("Final test set shape:", X_test.shape)

Final training set shape: (161622, 28)
Final test set shape: (69267, 28)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
model = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

/usr/local/lib/python3.11/dist-packages/xgboost/core.py:158: UserWarning: [02:28:45] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Accuracy: 0.9837007521619241
Classification Report:
               precision    recall  f1-score   support

           0       0.96      0.97      0.96     15067
           1       0.99      0.99      0.99     54200

    accuracy                           0.98     69267
   macro avg       0.97      0.98      0.98     69267
weighted avg       0.98      0.98      0.98     69267

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Initialize and train the model
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

# Predict on test set
y_pred = log_reg.predict(X_test)

# Print metrics
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nAccuracy Score:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Confusion Matrix:
 [[ 2564 12503]
 [  955 53245]]

Accuracy Score: 0.8057083459656114

Classification Report:
               precision    recall  f1-score   support

           0       0.73      0.17      0.28     15067
           1       0.81      0.98      0.89     54200

    accuracy                           0.81     69267
   macro avg       0.77      0.58      0.58     69267
weighted avg       0.79      0.81      0.75     69267

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
new_data = pd.read_csv("/content/final_data.csv")

In [ ]:
new_data.head()

,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean
0,White,Joint,Not Hispanic or Latino,No,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,1,3,2,2,3,2,2,185000,1,3,5,0,153,5125,5894,0,2,65
1,White,Male,Not Hispanic or Latino,No,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,0,1,55
2,White,Male,Hispanic or Latino,No,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,0,55
3,Black or African American,Male,Not Hispanic or Latino,Yes,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,0,4,55
4,White,Male,Not Hispanic or Latino,No,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,1,3,44

In [ ]:
numerical_cols = new_data.select_dtypes(include=['number']).columns
print(numerical_cols)

Index(['income', 'applicant_credit_score_type', 'loan_amount',
       'loan_to_value_ratio', 'loan_term', 'occupancy_type', 'preapproval',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_type', 'loan_purpose', 'derived_loan_product_type',
       'derived_dwelling_category', 'lien_status', 'reverse_mortgage',
       'hoepa_status', 'interest_only_payment', 'balloon_payment',
       'property_value', 'construction_method',
       'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes', 'loan_approved', 'age_cat',
       'dti_clean'],
      dtype='object')

In [ ]:
categorical_cols = new_data.select_dtypes(include=['object', 'category']).columns
print(categorical_cols)

Index(['derived_race', 'derived_sex', 'derived_ethnicity',
       'applicant_age_above_62'],
      dtype='object')

In [ ]:
new_data['derived_ethnicity'].value_counts()

derived_ethnicity
Not Hispanic or Latino    201184
Hispanic or Latino         29705
Name: count, dtype: int64

In [ ]:
new_data['applicant_age_above_62'].value_counts()

applicant_age_above_62
No     191391
Yes     39498
Name: count, dtype: int64

In [ ]:
pip install aif360

Requirement already satisfied: aif360 in /usr/local/lib/python3.11/dist-packages (0.6.1)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.11/dist-packages (from aif360) (2.0.2)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from aif360) (1.14.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.11/dist-packages (from aif360) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.11/dist-packages (from aif360) (1.6.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from aif360) (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->aif360) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->aif360) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.0->aif360) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->aif360) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->aif360) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->aif360) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24.0->aif360) (1.17.0)

In [ ]:
from aif360.datasets import BinaryLabelDataset

In [ ]:
new_data['derived_sex'] = new_data['derived_sex'].map({
    'Male': 1,
    'Female': 0,
    'Joint': 2
})

In [ ]:
new_data['derived_sex'].value_counts()

derived_sex
2    87769
1    85180
0    57940
Name: count, dtype: int64

In [ ]:
new_data.head()

,derived_race,derived_sex,derived_ethnicity,applicant_age_above_62,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean
0,White,2,Not Hispanic or Latino,No,35.0,1,25000.0,55.58,361,3,2,1,2,1,4,1,3,2,2,3,2,2,185000,1,3,5,0,153,5125,5894,0,2,65
1,White,1,Not Hispanic or Latino,No,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,0,1,55
2,White,1,Hispanic or Latino,No,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,0,55
3,Black or African American,1,Not Hispanic or Latino,Yes,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,0,4,55
4,White,1,Not Hispanic or Latino,No,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,1,3,44

In [ ]:
df= new_data.copy()

In [ ]:
label_name = 'loan_approved'
protected_attribute_names = [
    'derived_race',
    'derived_ethnicity',
    'applicant_age_above_62'
]
new_data['derived_race'] = new_data['derived_race'].apply(lambda x: 1 if x == 'White' else 0)
new_data['derived_ethnicity'] = new_data['derived_ethnicity'].apply(lambda x: 1 if x == 'Not Hispanic or Latino' else 0)
new_data['applicant_age_above_62'] = new_data['applicant_age_above_62'].apply(lambda x: 1 if x == 'Yes' else 0)


favorable_label = 1
unfavorable_label = 0

dataset = BinaryLabelDataset(
    df=new_data,
    label_names=[label_name],
    protected_attribute_names=protected_attribute_names,
    favorable_label=favorable_label,
    unfavorable_label=unfavorable_label
)

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'derived_race': 1}]   # 1 might represent White
unprivileged_groups = [{'derived_race': 0}] # 0 might represent non-White

metric = BinaryLabelDatasetMetric(
    dataset=dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = metric.disparate_impact()
print(f"Disparate Impact (derived_race): {disparate_impact}")

Disparate Impact (derived_race): 0.7726377546783719

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'derived_ethnicity': 1}]   # 1 might represent White
unprivileged_groups = [{'derived_ethnicity': 0}] # 0 might represent non-White

metric = BinaryLabelDatasetMetric(
    dataset=dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = metric.disparate_impact()
print(f"Disparate Impact (derived_ethnicity): {disparate_impact}")

Disparate Impact (derived_ethnicity): 0.8968385996186187

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'applicant_age_above_62': 1}]   # 1 might represent White
unprivileged_groups = [{'applicant_age_above_62': 0}] # 0 might represent non-White

metric = BinaryLabelDatasetMetric(
    dataset=dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = metric.disparate_impact()
print(f"Disparate Impact (applicant_age_above_62): {disparate_impact}")

Disparate Impact (applicant_age_above_62): 1.1444632071659202

In [ ]:
df['derived_sex'].value_counts()

derived_sex
2    87769
1    85180
0    57940
Name: count, dtype: int64

In [ ]:
df = df[df['derived_sex'] != 2]

In [ ]:
df['derived_sex'].value_counts()

derived_sex
1    85180
0    57940
Name: count, dtype: int64

In [ ]:
df['age_favorability'] = df['applicant_age_above_62'].apply(lambda x: 1 if x == 'No' else 0)

In [ ]:
df['age_favorability'].value_counts()

age_favorability
1    121222
0     21898
Name: count, dtype: int64

In [ ]:
df.drop(columns=['applicant_age_above_62'], inplace=True)

In [ ]:
df.head()

,derived_race,derived_sex,derived_ethnicity,income,applicant_credit_score_type,loan_amount,loan_to_value_ratio,loan_term,occupancy_type,preapproval,open-end_line_of_credit,business_or_commercial_purpose,loan_type,loan_purpose,derived_loan_product_type,derived_dwelling_category,lien_status,reverse_mortgage,hoepa_status,interest_only_payment,balloon_payment,property_value,construction_method,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,loan_approved,age_cat,dti_clean,age_favorability
1,White,1,Not Hispanic or Latino,199.0,1,95000.0,77.34,361,1,2,1,2,1,1,1,3,2,2,3,2,2,415000,1,3,5,0,216,1334,1496,0,1,55,1
2,White,1,Hispanic or Latino,130.0,1,25000.0,76.59,361,1,2,1,2,1,2,1,3,2,2,3,2,2,275000,1,3,5,0,35,268,1100,0,0,55,1
3,Black or African American,1,Not Hispanic or Latino,41.0,1,65000.0,46.15,361,1,2,1,2,1,1,0,3,1,2,3,2,2,135000,1,3,5,0,56,1255,2213,0,4,55,0
4,White,1,Not Hispanic or Latino,91.0,1,125000.0,46.50,361,1,2,1,2,1,4,1,3,2,2,2,2,2,315000,1,3,5,0,111,937,840,1,3,44,1
5,White,1,Not Hispanic or Latino,140.0,1,45000.0,9.20,361,1,2,1,2,1,4,1,3,2,2,3,2,2,435000,1,3,5,0,174,2385,2526,0,1,47,1

In [ ]:

# Assume df is your preprocessed HMDA DataFrame
# Ensure binary label column exists, e.g., 'loan_approved' (1 = approved, 0 = denied)

# Define label and protected attributes
label_name = 'loan_approved'
protected_attribute_names = [
    'derived_race',
    'derived_sex',
    'derived_ethnicity',
    'age_favorability'
]

# Standardize protected attributes to binary format
# You can customize thresholds and mappings based on your dataset
df['derived_race'] = df['derived_race'].apply(lambda x: 1 if x == 'White' else 0)
df['derived_ethnicity'] = df['derived_ethnicity'].apply(lambda x: 1 if x == 'Not Hispanic or Latino' else 0)

# Define favorable/unfavorable outcomes
favorable_label = 1
unfavorable_label = 0

# Create the BinaryLabelDataset
new_dataset = BinaryLabelDataset(
    df=df,
    label_names=[label_name],
    protected_attribute_names=protected_attribute_names,
    favorable_label=favorable_label,
    unfavorable_label=unfavorable_label
)

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'derived_sex': 1}]   # 1 might represent White
unprivileged_groups = [{'derived_sex': 0}] # 0 might represent non-White

new_metric = BinaryLabelDatasetMetric(
    dataset=new_dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = new_metric.disparate_impact()
print(f"Disparate Impact (derived_sex): {disparate_impact}")
print("Statistical Parity Difference:", metric.statistical_parity_difference())

Disparate Impact (derived_sex): 0.9978075417871697
Statistical Parity Difference: 0.1009501488932747

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'derived_race': 1}]   # 1 might represent White
unprivileged_groups = [{'derived_race': 0}] # 0 might represent non-White

new_metric = BinaryLabelDatasetMetric(
    dataset=new_dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = new_metric.disparate_impact()
print(f"Disparate Impact (derived_race): {disparate_impact}")
print("Statistical Parity Difference:", metric.statistical_parity_difference())

Disparate Impact (derived_race): 0.7864942825107932
Statistical Parity Difference: 0.1009501488932747

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'derived_ethnicity': 1}]   # 1 might represent White
unprivileged_groups = [{'derived_ethnicity': 0}] # 0 might represent non-White

new_metric = BinaryLabelDatasetMetric(
    dataset=new_dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = new_metric.disparate_impact()
print(f"Disparate Impact (derived_ethnicity): {disparate_impact}")
print("Statistical Parity Difference:", metric.statistical_parity_difference())

Disparate Impact (derived_ethnicity): 0.921187875527264
Statistical Parity Difference: 0.1009501488932747

In [ ]:
from aif360.metrics import BinaryLabelDatasetMetric
privileged_groups = [{'age_favorability': 1}]   # 1 might represent White
unprivileged_groups = [{'age_favorability': 0}] # 0 might represent non-White

new_metric = BinaryLabelDatasetMetric(
    dataset=new_dataset,
    unprivileged_groups=unprivileged_groups,
    privileged_groups=privileged_groups
)

# Calculate disparate impact
disparate_impact = new_metric.disparate_impact()
print(f"Disparate Impact (age_favorability): {disparate_impact}")
print("Statistical Parity Difference:", metric.statistical_parity_difference())

Disparate Impact (age_favorability): 0.8207315683836148
Statistical Parity Difference: 0.1009501488932747